@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*the import allows the font-weight of roboto to be 600 for correct style*/
/* to use the import, ou must have font-family:roboto and add a font-weight*/
body{
    margin: 0;
}
.texteSection1{
    text-align: center;
    font-family: roboto;
}

.partiNavBar{
    background-color: rgb(46,63,81);
    padding: 4em;
    height: 350px;
    
}
section div{
   display: flex; 
   flex-wrap: wrap;
}

img{
    width: 180px;
    height: 130px;

}
/*moving container to the middle by justify-content*/
#containerImages{
    display:flex;
    justify-content: center;
    padding-bottom: 80px;
   
}

h3{
    color: gray;
    font-family: roboto;
    font-weight: 600;

}

h5{
    color: gray;
    font-family: roboto;
    font-weight: 600;
}

.tailleimage{
display:flex;
flex-direction: column;
width: 200px;
border-style: solid;
border-color: transparent;
   
}


/*to remove the underline of a link*/
a{
 text-decoration: none;

}

.centxt{
    font-family: roboto;
    color:gray;
    font-weight: 600;
    font-size:small;
}

h2{
    color: rgb(103,131,137); 
}
.parag1{
    color: white;
}

#buttonInscription{
    padding: 20px;
    border-radius: 7px;

    background-color:  rgb(46,63,81);
    border-color: white;
    color: white;
}

#buttonInscription:hover{
    color:green
}
