@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*the import allows the font-weight of roboto to be 600 for correct style*/
/* to use the import, ou must have font-family:roboto and add a font-weight*/

body {
    margin: 0;
}

.texteSection1 {
    text-align: center;
    font-family: roboto;
}

.partiNavBar {
    background-color: rgb(46, 63, 81);
    padding: 4em;
    height: auto;
}

section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Added */
}

img {
    max-width: 100%; /* Changed */
    height: auto; /* Changed */
    max-height: 130px; /* Added */
}

.containerImages {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

h3 {
    color: gray;
    font-family: roboto;
    font-weight: 600;
}

h5 {
    color: gray;
    font-family: roboto;
    font-weight: 600;
}

.tailleimage {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-style: solid;
    border-color: transparent;
}

a {
    text-decoration: none;
}

.centxt {
    font-family: roboto;
    color: gray;
    font-weight: 600;
    font-size: small;
}

h2 {
    color: rgb(103, 131, 137);
}

.parag1 {
    color: white;
}

.buttonInscription {
    padding: 15px 30px; /* Adjusted */
    border-radius: 7px;
    background-color: rgb(46, 63, 81);
    border-color: white;
    color: white;
}

.buttonInscription:hover {
    color: green;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/* Header */
/*----------------------------------------------*/
/*----------------------------------------------*/

.headerBigText1{
    width:100px;
    display:flex;
    flex-wrap: wrap;
    font-size: 40px;
    color:white;
    font-family: "Roboto";
    line-height: 1.0;
    font-weight: 100 ;
    padding-bottom: 20px;
}

.headerBigText2{
    font-size: 40px;
    color:white;
    font-family: "Roboto";
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: 100 ;
}

.headerBackgroundEnTete{
 background-color: rgb(46,63,81); 

    display:flex;
    justify-content: center;
    gap:20%;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    height:20%;
   
}

.headerTopGreen{
    color: rgb(113, 150, 113);
    font-family: "Roboto";
    font-weight: 600;
    text-align: right;
    padding-top:18px;
    margin-bottom:10px;
}
.headerWhiteTop{
    font-family: roboto;
    font-size: 10px;
    font-weight: 600;
    color:white;

   
}
.headerSection-2{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-left:40px;
    align-items: flex-end;
    padding-bottom: 20px;
}

.headerSpace{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    
}

a{
    text-decoration: none;
    color: rgb(113, 150, 113);
}

a:visited{
    color: lightcoral;
}

a:hover{
    color:green;
}

a.lienTitre{
    color:white;
}

a.lienTitre:visited{
    color: lightcoral;
}

a.lienTitre:hover{
    color:green;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/* Footer */
/*----------------------------------------------*/
/*----------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.piedDePage {
   display:flex;
   height: 80px;
   padding: 10px;
   align-items: flex-end;
   justify-content: space-between;
   
}

.greenTextPiedDePage{
   color: rgb(113, 150, 113);
   font-family: "Roboto";
   font-weight: 300;
   font-size: small;
   padding-top: 50px;
   width:200px;
   text-align: left;

}

.whiteTextBox{
   display:flex;
   justify-content: flex-end;
   gap:30px;
   color:white;
   font-family: "Roboto";
   font-weight: 300;
   font-size: small;
   text-align: right;
}

.piedDePageContainer{
   background-color: rgb(30, 60, 85);
   justify-content: center;
   padding-right: 22%;
   padding-left: 22%;
}

a.liensPiedDePage{
   color:white;
}

a.liensPiedDePage:visited{
   color: lightcoral;
}

a.liensPiedDePage:hover{
   color: green;
}